* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.slider-container {
  position: relative;
  width: 90vw;
  height:90vh;
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

.slide img {
  width: 90%;
  height: 90%;
  object-fit: cover;
}

.slide.active {
  display: flex;
}

/* Navigation buttons */
button.prev, button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  font-size: 40px;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
  transition: background 0.3s;
}

button.prev:hover, button.next:hover {
  background: rgba(0, 0, 0, 0.8);
}

button.prev {
  left: 20px;
}

button.next {
  right: 20px;
}
